<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/2972/2972150.svg" alt="" width="200px" height="200px">
      </div>
      <div class="row">
        <button on-click="incrementar" type="button" name="button" class="btn btn-success">Cargar datos</button>
      </div>
      <div class="row">
        <span>Data binding : Enlanzado de datos</span>
        <hr>
        Bidireccional : <input type="text" value="{{prop1::input}}">
        <hr>
        Unidireccional : <input type="text" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Elena</td>
              <td>Nito</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2:{
            type:Number,
            value: 999
          },
          prop3:{
            type:String,
            value: "Proporcione su usuario"
          }
        };
      }
      incrementar(){
        this.prop2 += 1;
        console.log("prop2: " + this.prop2)
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
